@charset "utf-8";
/* CSS Document */

p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite; 
	padding: 20px;
		 }
h1,h2{ 
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

 a:link {
	 font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: black;
	background-color:lightpink;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}


img { 
height: 200px;
	
}